#main_container{
    align-items: center;
}
#products_img_container{
    
    margin: 1em auto;
    width: 94vw;
    height: fit-content;
    border: .3em solid #0002FF;
    border-radius: 1.5em;
    align-self: center;
    display: flex;
    overflow-x: scroll;
}
.img_container{
    
    margin: .5em;
    display: inline-block;
    height: 85vw;
    background-size: 100%;
    background-repeat: no-repeat;
}
.direct{
    position: absolute;
    top: 8.5em;
}
#right_direct{
    right: 3em;
}
.main_img_container{
    min-width: 85vw;
    
}
.alt_img_container{
    min-width: 60vw;
}
#products_price_and_rate_container{
    padding: 1em;
    padding-top: 0;
    background: linear-gradient(135deg,#0008FF,#00BFFF);
}
#price{
    font-size: 2em;
    width: fit-content;
    margin: 0 auto;
    color: #140F0E;
}
#products_name_container{
    padding: 1em;
    text-align: center;
    max-height: ;
}
#products_name{
    font-family: Tahoma;
    font-weight: 600;
    font-size: 1.3em;
}
#products_description_container{
    padding: 1em 1.5em;
    height: 4.5em;
    overflow: hidden;
    border-radius: 2em 2em 0 0;
}
#description_head{
    font-size: 1.6em;
}
#description{
    font-family: Monospace;
    font-size: 1.3em;
    font-weight: 550;
}
#see_more{
    font-family: Monospace;
    font-size: 1.3em;
    font-weight: 550;
    display: block;
    margin: 0 auto;
    padding: .2em;
}#order_now_container{
    width: fit-content;
    margin: 1em auto;
}


#order_now{
    width: 70vw;
    height: 10vh;
    border-radius: 1em;
    font-family: Arial Sans-Serif;
    font-size: 2em;
    font-weight: 700;
}